.reel-cell{
  width: 50px;
  height: 50px;
  border:1px solid #aaa;
  margin:2px;
}
.cell-icon1{
  background-color: #452;
}
.cell-icon2{
  background-color: rgb(27, 144, 161);
}
.cell-icon3{
  background-color: rgb(85, 51, 34);
}
.cell-icon4{
  background-color: rgb(129, 0, 136);
}
.cell-icon5{
  background-color: #00f;
}
.cell-icon6{
  background-color: rgb(172, 97, 97);
}
.cell-icon7{
  background-color: #fff;
}
.cell-icon8{
  background-color: rgb(250, 7, 7);
}
.cell-icon9{
  background-color: #f55;
}
.cell-icon10{
  background-color: #5f5;
}
.cell-icon11{
  background-color: #732;
}
