/* You can add global styles to this file, and also import other style files */
.cell{
  width: 64px;
  height: 64px;
  border: 1px solid #aaa;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

.cell:hover{
  border: 1px solid #777;
}

.complete-user{
  background-color: #0f0;
}
.complete-comp{
  background-color: #ff0;
}
